.main-section {
    margin-top: 60px;
    background-image: url('photo/main.png');
    height: 95vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logos {
    text-align: center;
}

.main-logo{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 30px;
    padding: 40px;
    border-radius: 74px;
    box-shadow: 0px 0px 8px #888;
}